@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Kaushan+Script&display=swap');
/* CSS reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background-color: #B6E2A1;
	font-family: 'Bree Serif', serif;
	color:#FFFBC1;
	}
#my-avatar {
	width: 150px;
	border-radius: 10%;
}
	#content {
		text-align: center;
	}
	#my-name{
font-family: 'Kaushan Script', cursive;
color:#FEBE8C;
	}
#left-side{
	width: 50%;
	display: inline-block;
}
#right-side{
	width:49%;
	display: inline-block;
	text-align: right;
}
a {
	color:#F7A4A4;
	text-decoration: none;
	border-bottom: 1px dotted #F7A4A4;
}
header {
	margin-top: 16px;
}
.nav-link {
margin-left: 8px;
}