@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Kaushan+Script&display=swap');
/* CSS reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background-color: #F8EDE3;
	font-family: 'Bree Serif', serif;
	color:#D0B8A8;
	}
#my-avatar {
	width: 150px;
	border-radius: 10%;
}
	#content {
		text-align: center;
	}
	#my-name{
font-family: 'Kaushan Script', cursive;
color:#7D6E83;
	}
